# Apache
derby.log
metastore_db/
*.db

# Byte-Compiled / Optimized / DLL Files
__pycache__/
*.py[cod]

# Dask Worker Spaces
*dask-worker-space

# Distribution / Packaging
*.egg
*.egg-info/
*.eggs/
.installed.cfg
.Python
build/
eggs/
env/
develop-eggs/
dist/
lib/
lib64/
parts/
python_dist/
sdist/
var/
version.info
venv*

# Tools
gamma-config.*

# Gradle
.gradle/*

# Installer Logs
pip-delete-this-directory.txt
pip-log.txt

# IntelliJ IDEA 15
*.iml
.idea/

# IPython Notebook
.ipynb_checkpoints

# OSX Metafiles
.DS_Store

# pyenv
.python-version

# direnv
.envrc

# Unit Test / Coverage Reports
.cache
.coverage
.coverage.*
.hypothesis/
.pytest_cache
.tox/
coverage.xml
htmlcov/
nosetests.xml

# Allows local big-data testing without interrupting git flow
tests/local/

# Vim Swap Files
*.swp

# VScode
.vscode/
/spark-warehouse/